<?xml version="1.0" encoding="utf-8"?>

<suite name="Suite" parallel="tests" thread-count="1">

	<listeners><!-- 监听器设置，生成测试报告的监听器，不要改此处代码 -->
		<listener class-name="com.auto.crazyapi.report.ExtentIReporterListenerUtil"></listener><!-- 这是extentreport报告的监听 -->
		<listener class-name="org.uncommons.reportng.HTMLReporter" /><!-- 这是reportng报告的监听 -->
	<!-- 	<listener class-name='com.testfan.ui.auto.utils.RetryListener'/> -->

	</listeners>
	
	<test name="CRM系统接口测试" preserve-order="true">
		<classes>
				<!-- <class name="com.auto.project1.JavaMallTests20200215" /> -->
				<!-- <class name="com.auto.api0401.CRMTestBase"/> -->
				<class name="com.auto.api0401.AddCustomerTest" />
				<class name="com.auto.api0401.AddContactsTest" />
				<class name="com.auto.api0401.AddProductTest" />
		</classes>
	</test>
<!-- 	<test name="MTX前台接口测试" preserve-order="true">
		<classes>
				<class name="com.auto.project2.JavaMallQianTaiTests" />
		</classes>
	</test> -->

</suite>  